<p>
  <b>Url:</b>
  <%=h @website.url %>
</p>

<p>
  <b>Title:</b>
  <%=h @website.title %>
</p>

<br /><br />

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'List all websites/blogs', websites_path %>

<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
