.DS_Store
*.swp
config/database.yml
config/development.sphinx.conf
log
log/*.log
tmp/**/*
tmp
public/system
Makefile
*.bundle
index
index/**/*
db/sphinx/**/*
.manifest
*~
.bundle
vendor/plugins/**/.git
*.log
*.o
*.so
*config.h

