.DS_Store
*.swp
config/database.yml
config/development.sphinx.conf
log
log/*.log
tmp/**/*
tmp
vendor/plugins/**/.git
vendor/gems/**/*.log
public/system
*.o
*.so
Makefile
*.bundle
index
index/**/*
db/sphinx/**/*
db/*.sqlite3
.specification
.manifest
*~
