.DS_Store
*.swp
config/database.yml
config/development.sphinx.conf
log
log/*.log
tmp/**/*
tmp
public/system
Makefile
*.bundle
index
index/**/*
db/sphinx/**/*
db/*.sqlite3
.manifest
*~

vendor/plugins/**/.git
Gemfile.lock
*.log
*.o
*.so
*config.h

