%p
  %b Url:
  = h @website.url

%p
  %b Title:
  = h @website.title

%br
%br

= link_to 'Edit', edit_website_path(@website)
|
= link_to 'List all websites/blogs', websites_path

%br
%br
%br
%br
%br
%br
%br
%br
