- @page_title = 'Shared ips'

%h2.permission Shared ip addresses?

%table
  %tr
    %th ip address
    %th #agents
    %th #faves

  - @votes_by_ip.each do |vote|
    - agents = Vote.where("ip_address = ?", vote.ip_address).count(:agent, :distinct => true)
    - faves = Vote.where("ip_address = ? AND support = ?", vote.ip_address, '40').count(:website_id, :distinct => true)
    - if agents > 3 || faves > 3
      %tr
        %td= vote.ip_address
        %td{:style => "text-align: center"}= agents
        %td{:style => "text-align: center"}= faves
