/*@import url('reset.css');*/

body { background-color: #fff; color: #000; min-width: 38em;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

li {
  margin-bottom: 0.7em;
}

ol      {font-weight: bold}
li span {font-weight: normal}
ul      {font-weight: normal}

h2 {
  line-height: 22px;
}

h1 {
  line-height: 26px;
  padding-left: 10px;
}

#community-box {
  border: 1px solid black;
  background-color: #eee;
  padding-top: 0.2em;
  padding-left: 10px;
  padding-bottom: 0.5em;
}

#community-box p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

#community-box label {
  font-weight: bold;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #00c; }
a:visited { color: #306; }
a:hover { color: #d00; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.required {
  color: #a00;
}

/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */

#banner {
  line-height: 24px;
  color: #a00;
  padding-left: 13px;
  padding-bottom: 7px;
  font-size: 30px;
  font-weight: bold;
}
#banner a {
  color: #a00;
  text-decoration: none;
}
#banner .banner2 {
  color: #444;
}
#banner .banner2 a {
  color: #444;
}
#banner .release {
  font-size: 16px;
  font-weight: normal;
  color: #444;
}

#login-nav {
  padding-right: 10px;
  text-align: right;
  font-size: 14px;
}
#login-nav .perm0 {
  color: #888;
}
#login-nav .perm0 a {
  color: #888;
  text-decoration: none;
}
#login-nav .perm0 a:hover {
  color:#a00;
  text-decoration: underline;
}

#login-nav .separator {
  margin: 0 10px;
}

.permission {
  color: #0C0;
}
.permission a {
  color: #0C0;
}
.permission a:hover {
  color: #a00;
}
.funded {
  color: #060;
}

#main-nav {
  background-color: #a00;
  color: #fff;
  text-align: center;
  font-size:   11px;
  font-weight: bold;
}

#main-nav span {
  margin: 0 20px;
}

#main-nav a:link {
  color: #fff;
  text-decoration: none;
}
#main-nav a:visited {
  color: #fff;
  text-decoration: none;
}
#main-nav a:hover {
  text-decoration: underline;
}

#side {
  float: left;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  width: 12em;
  background: #444;
  color: #fff;
}

#side a { color: #fff; }
#side a:hover { color: #fff; background-color:#a00; }

/* START:navmain */
/* Styles for the left navigation column */

#featured label {
  font: 130% bold;
  font-weight: bold;
}

#featured p {
  line-height: 14px;
  font-weight: bold;
}

#featured span {
  line-height: 14px;
}

#nav-table {
  font-weight: bold;
}

#nav-save {
  font-weight: normal;
}

#search {
  font-weight: bold;
  margin: 0 0 20px 0;
}

/* END:navmain */

#main {
  margin-left: 13em;
  padding-top: 1ex;
  padding-left: 1em;
  background: #fff;
}

#table1 .list-line-odd {
  background:   #fff;
}

#table1 .list-line-even {
  background:   #eee;
}

#table1 .add-button {
  background:   #fff;
}

#table1 .header {
  font-weight: bold;
  color: #fff;
}

#table1 .header-centred {
  background:   #a00;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#table1 .header-left {
  background:   #a00;
  text-align: left;
  padding-left: 1em;
}

#table1 .cell-centred {
  text-align: center;
}
 
#table1 .cell-left {
  padding-left: 0.5em;
}

#table1 .cell-right {
  text-align: right;
}

#table1 .cell-link {
  padding: 4px;
  font-weight: bold;
}

#table1 .cell-like-link {
  padding: 4px;
  color: #006;
  font-weight: bold;
}
#table1 .cell-link a:link {
  color: #006;
  text-decoration: none;
}
#table1 .cell-link a:visited {
  color: #006;
  text-decoration: none;
}
#table1 .cell-link a:hover {
  color:#a00;
  text-decoration: underline;
}
#table1 .footer-row {
  border-top: 2px solid #c00;
  padding-top: 6px;
}

#table1 .label {
  padding-left: 0.5em;
  font-weight: bold;
}

#table1 .limbo a:link {
  color: #000;
  text-decoration: none;
}
#table1 .limbo a:visited {
  color: #000;
  text-decoration: none;
}
#table1 .limbo a:hover {
  color: #a00;
  text-decoration: underline;
}

#table1 .postdate {
  color: #666;
  text-align: center;
}
#table1 .post {
  color: #666;
}
#table1 .post a:link {
  color: #006;
  text-decoration: none;
}
#table1 .post a:visited {
  color: #666;
  text-decoration: none;
}
#table1 .post a:hover {
  color: #a00;
  text-decoration: underline;
}

.ballot_row {
  border-bottom: 2px solid #b00;
}
.multipost {
  table-layout:fixed;
}
.cut {
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
} 

#faq .category {
  font-weight: bold;
  background:   #eee;
  text-align: center;
}

#faq .question {
  font-weight: bold;
  color:#a00;
  background:   #eee;
  padding-left: 0.5em;
}

#faq .answer {
  padding-left: 3em;
  padding-bottom: 1em;
}

#faq .grey {
  color: #777;
}

#colleagues .photo {
  padding-top: 7px;
  padding-bottom: 4px;
  padding-right: 6px;
}

#colleagues .upper-cell {
  border-top: 2px solid #c00;
  padding-top: 6px;
  padding-bottom: 4px;
  font-weight: bold;
}

#colleagues .lower-cell {
  padding-bottom: 6px;
}

#columns {
  background: #444;
}

#pubs_header ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}
#pubs_header li {
  font-weight: bold;
  margin-bottom: 0.1em;
}
#pubs_header li a:link {
  color: #006;
  text-decoration: none;
}
#pubs_header li a:visited {
  color: #006;
  text-decoration: none;
}
#pubs_header li a:hover {
  color:#a00;
  text-decoration: underline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#cv td {
  line-height: 15px;
}

#cv .pad {
  padding-top: 7px;
}

#cv .col1 {
  text-align: right;
  padding-right: 14px;
}

#cv .heading {
  font-weight: bold;
}

#cv .subheading {
  font-weight: bold;
}

#cv .emphasis {
  font-style: italic;
}
