- @page_title = 'Video: ' + @video.title

%h1{:align => "center"}
  Video:
  = @video.title

%p{:align => "center"}
  %object.flashbanner
    %param{:name => "movie", :value => "http://www.youtube.com/v/" + @video.url + "&hl=en&fs=1"}
    %param{:name => "allowFullScreen", :value => "true"}
    %param{:name => "allowscriptaccess", :value => "always"}
    %param{:name => "wmode", :value => "transparent"}
    %embed{:src => "http://www.youtube.com/v/" + @video.url + "&hl=en&fs=1", :type => "application/x-shockwave-flash", :allowfullscreen => "true", :allowscriptaccess => "always", :wmode => "transparent", :width => "425", :height => "344"}

%h2 Transcript
= sanitize simple_format @video.transcript

- if can? :update, @video
  %p.permission= link_to "Edit this video's data", edit_video_path(@video)
