- @links_categories = ['Media/Democratic Reform', 'Corporate Governance Blogs', 'Corp Gov Links Pages', 'Corp Gov Organizations', 'Corp Gov Research', 'Disclosure for Investors', 'Individual Investor Resources']

-# Could get this list from the links table, but hard-coding seems faster for frequent use, and lets us set a non-alphabetic order without creating a sequence field. This category list will not change often. Used in these views: links/_form, links/index, layouts/_nav.