%p
  %b Comments? Websites/blogs we should add to the ballot? Advice for improving VoterMedia.org? Type those here:

- form_tag(:action => :submit_feedback, :community => @community) do
  -# Beware: the width of this comment box has been set at 95 to ensure a minimum width for the page display that works in Safari as well as Firefox.
  = text_field_tag(:comment, '', :size => 85)
  = submit_tag 'Submit comment'

%br
