%div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
  %p
    %strong
      No blogs listed yet for
      = @community.short_name + '.'
      Do you know of any? Add one by emailing editors[at]votermedia.org !

  %p
    Or how about creating one?! It's easy with free tools at sites like
    = link_to 'Blogger', 'http://blogger.com/', :target => '_blank'
    or
    = link_to('Wordpress', 'http://wordpress.com/', :target => '_blank') + '.'
