- @page_title = "Search for communities"

- main_column do

  %div{:style => "text-align: center"}
    %h2 Which blogs serving your voter communities deserve funding?
    = render 'layouts/search'
    %p 
      Follow links to community ballots, then vote on blog funding:

  = render 'search_table'

  %br
