<p>
<b>VoterMedia.org</b> is a public interest project for improving the policies of the world's organizations 
(governments, corporations, unions, nonprofits etc.) by developing better voter information systems. 
We are implementing voter funded media as explained in the paper 
<a href="http://votermedia.org/publications/GlobalVoterMediaPlatform.pdf">Global Voter Media Platform</a> 
and our other <a href="http://votermedia.org/publications">publications</a>.
</p>
<p>
This website is built by a group of volunteers, led by Mark Latham. 
We plan to create a nonprofit organization to manage the project, 
with a board of directors elected by the website's users.
We are already practising what we preach, by <a href="/communities/104">inviting websites/blogs to critique VoterMedia.org</a>.
</p>
<p>
There's a lot more info on <a href="http://votermedia.org">our main website</a>, 
which we are gradually copying here to build our next release.
</p>

<p><b>Main contact:</b></p>
<b>Mark Latham</b> — Executive Director, VoterMedia.org<br />
<b>Email:</b> mark[at]votermedia.org<br />
<b>Voicemail:</b> (604) 608-9779<br />
<b>Paper mail:</b> 1755 Robson Street #469, Vancouver, B.C., Canada V6G 3B7<br />

<br /><br /><br /><br /><br /><br /><br />