%title VoterMedia: How You Can Help

%h2 How You Can Help VoterMedia.org

%p
  Thank you for your interest in our mission to improve the policies of the world's organizations.
  Here are some ways you can help:

%ul
  %li
    %b Add relevant websites/blogs
    to community pages, especially those with less than five websites/blogs listed. 
    You can search for them by googling keywords like "blog", "election" and the community name.
  
  %li
    %b= link_to 'Add voter communities', new_community_path
    that are not yet in our system. VoterMedia.org is most likely to be helpful for
    communities with more than 1,000 voters and annual budgets over US$200,000.
  
  %li
    %b Read some websites/blogs
    listed for communities that you are interested in, 
    %b and vote
    for those that you think deserve to be ranked higher than they are now.
    (We suggest reading & voting about once a week.)
  
  %li
    %b Tell people
    about VoterMedia.org -- especially tell bloggers!
  
  %li
    %b Create a login
    on VoterMedia.org and tell us more about you (e.g. your home city). 
    This helps us understand our user community. 
    We will invite active users to become voting members of the VoterMedia nonprofit association 
    and elect our board of directors, which controls this website.
  
  %li
    %b Suggest improvements
    for this website by email to Mark Latham: mark[at]votermedia.org; 
    or comment on the websites/blogs
    = link_to('listed for the VoterMedia.org community', '/communities/104') + '.'
  
  %li
    %b Encourage your communities to fund
    the top-ranked websites/blogs serving them.
  
  %li
    %b Donate
    funding for awards to top-ranked websites/blogs in communities of your choice, 
    and/or to cover VoterMedia's costs. (We'll create an online donation system soon; meanwhile you can 
    = link_to 'contact us', about_contact_path
    or donate directly to the websites/blogs.)
  
  %li
    %b Volunteer
    for VoterMedia, especially if you're a Ruby On Rails developer!

%br
