- @page_title = 'How You Can Help'

%br
%h2{:style => "margin-left: 10%"} How You Can Help VoterMedia.org

%div{:style => "width: 80%; margin-left: 10%; margin-right: 10%;"}
  %p Thank you for supporting our mission to improve the policies of the world's organizations. Here are some ways you can help:

  %ul
    %li
      %b Volunteer as a :
      %ul
        %li Ruby on Rails website developer
        %li video editor/producer
        %li website graphic designer

    %li
      %b Tell thought leaders
      in your voter communities about VoterMedia and how it helps democracies.

    %li
      %b Suggest websites/blogs
      to add to our listings.

    %li
      %b Contact:
      mark[at]votermedia.org
%br
