<title>VoterMedia: Privacy Policy</title>

<h2>Privacy Policy for VoterMedia.org Website</h2>
 
<p>
VoterMedia.org is a nonprofit project, planning to soon become a democratic organization controlled by its website users. 
This is to ensure that the organization treats users as they want to be treated – with respect and consideration. 
User privacy is an important component of this broad goal.
</p>
<p>
Our current Privacy Policy is published and updated at <%= privacy_url %>. 
Revisions to this policy are announced at <%= auto_link_urls("http://votermedia.blogspot.com") %>.
</p>
<p>
Our Privacy Policy is developed, updated and implemented to conform with the 
British Columbia Personal Information Protection Act. 
Like the Act, our Policy is organized around ten internationally recognized principles as follows:
</p>
<ol>
  <li><b>Accountability:</b>
  <span>Our Privacy Officer is Mark Latham, email mark[at]votermedia.org.
  While he has the primary responsibility, everyone in our project team has committed to uphold our Privacy Policy.</span>
  </li>
  <li><b>Purposes:</b>
  <span>When (or before) we collect your personal information, we inform you why it is needed and how it will be used. 
  If we later want to use it in other ways, we will first inform you and ask for your consent.</span>
  </li>
  <li><b>Consent:</b>
  <span>We will only collect, use or disclose your personal information with your consent (unless the law requires otherwise), 
  which may be expressed, implied, opt-in or opt-out as is reasonable in the context. 
  Your consent is not a condition for any of our services unless the information is required to provide that service. 
  You may withdraw your consent at any time, in which case we would tell you the likely consequences of withdrawing consent.</span>
  </li>
  <li><b>Limited collection:</b>
  <span>We only collect personal information that is necessary for our reasonable purposes, and we only collect it from the person it is about.</span>
  </li>
  <li><b>Limited use, disclosure and retention:</b>
  <span>We only use or disclose your personal information for reasonable purposes that you have consented to. 
  We only keep it as long as necessary for those purposes.</span>
  </li>
  <li><b>Accuracy:</b>
  <span>We make reasonable efforts to ensure that your personal information is accurate and complete. We appreciate your help with this.</span>
  </li>
  <li><b>Safeguards:</b>
  <span>We maintain reasonable protection against unauthorized access, use or disclosure of your personal information.</span>
  </li>
  <li><b>Openness:</b>
  <span>In addition to the policy outlined here, you can ask more about our information policies, 
  practices and purposes by sending questions to our Privacy Officer, Mark Latham, email mark[at]votermedia.org.</span>
  </li>
  <li><b>Access:</b>
  <span>You can check and update your personal information, and read about how it is used, by logging in to VoterMedia.org.</span>
  </li>
  <li><b>Recourse:</b>
  <span>If you have a complaint or concern about our use of your personal information, 
  we recommend that you take this sequence of steps as far as you consider necessary:</span>
  <ul style='list-style-type:disc'>
    <li style='margin-top:0.7em'>Contact our Privacy Officer, Mark Latham, email mark[at]votermedia.org. 
      He will investigate and respond to all complaints received.
    </li>
    <li>Contact any or all of our project team listed at http://votermedia.org/about-contact.html except for the Advisory Board.
    </li>
    <li>Contact any of the websites/blogs <a href="/communities/104">listed for the VoterMedia.org community</a>.
    </li>
    <li>Start a blog critiquing our information practices, and add it to the <a href="/communities/104">list for the VoterMedia.org community</a>.
    </li>
    <li>Contact the <a href="http://www.oipcbc.org/sector_private/public_info/complaint.htm">British Columbia Information and Privacy Commissioner</a>.
    </li>
  </ul>
  </li>
</ol>
<br />
