<h2>Publications</h2>

<p>
For now, please see <a href="http://votermedia.org/publications">our old website's publications page</a>. 
We will soon copy from there to this new website.
</p>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
