<title>VoterMedia: Terms of Use</title>

<h2>Terms of Use for VoterMedia.org Website</h2>

<p>
Using this website (http://votermedia.org) is subject to these terms. 
We (the website administrators) may change these terms at any time. 
You may stop using the website at any time if unwilling to accept then-current terms. 
Current terms are posted and updated at <%= terms_url %>. 
Notice of changes in these terms posted at http://votermedia.blogspot.com is deemed sufficient 
notifice to website users, since you can subscribe to posts from that blog.
</p>

<h4>Experimental System</h4>
<p>
This website is an experimental system under development. 
We disclaim all warranties of any kind. We will not be liable for any damages or costs. 
The website may evolve through time and produce various results and effects, expected and unexpected. 
You agree to accept such evolution, results and effects without recourse, including such possibilities as these:
</p>
<ul>
  <li>information technology systems may malfunction;</li>
  <li>information technology services may be interrupted;</li>
  <li>voting processes could be corrupted by improper influence or people voting multiple times;</li>
  <li>some votes may not be counted, or may be under- or over-weighted;</li>
  <li>some votes may be counted that should not be counted;</li>
  <li>people may vote in unexpected ways for unexpected reasons;</li>
  <li>voter turnout may be low;</li>
  <li>the sample of votes received may not be representative;</li>
  <li>websites/blogs may get higher or lower rankings than they deserve;</li>
  <li>rankings may fluctuate excessively through time;</li>
  <li>this website's administrators may make mistakes.</li>
</ul>

<h4>Website as Platform</h4>
<p>
This website is a platform for user participation. 
Website administrators are not reponsible for the content of media/blogs linked from the website. 
Links and ranks do not imply our endorsement. This website's administrators are not responsible for users' actions, including:
</p>
<ul>
  <li>inputting information (which may be inaccurate) about voting communities and websites/blogs;</li>
  <li>voting for any websites/blogs for any reasons.</li>
</ul>

<h4>User Conduct</h4>
<p>
In your use of this website, you agree:
</p>
<ul>
  <li>to have no more than one valid login at a time;</li>
  <li>not to disclose your password to anyone;</li>
  <li>not to let anyone else cast your votes;</li>
  <li>not to knowingly enter false information about yourself, about voting communities, or about websites/blogs;</li>
  <li>not to conduct illegal activity;</li>
  <li>not to “spam” or post links to websites/blogs irrelevant to the voter community where you are posting.</li>
</ul>

<h4>Administrator Discretion</h4>
<p>
So as to effectively manage this experimental website in response to various possible unexpected eventualities, 
we may at any time, with or without cause:
</p>
<ul>
  <li>add, edit, reject or remove any voting community listings;
  <li>add, edit, reject or remove any website/blog listings;
  <li>reject, suspend or remove any user login;
  <li>change the voting system, tallying and ranking update methods;
  <li>change the layout of ballot and other website pages;
  <li>suspend or terminate voting;
  <li>choose new administrators;
  <li>accept donations and/or sponsorship from any source;
  <li>accept advertising on website pages;
  <li>discuss the voting, rankings, voting communities and websites/blogs publicly, 
  <li>including in ways that may be considered biased in favour of or against one or more websites/blogs;
  <li>change the website's name or URL.
</ul>
<p>
Vote tallying and updating of ranks are not audited, and may involve our subjective discretion. 
We need not disclose the vote tallying and ranking update methods, nor the vote totals. 
If anyone believes that we are acting unreasonably, their only recourse is to stop using the website.
</p>
<p>
We refer to ranked websites as “media” or “bloggers” based on what we think users will list and support, 
but we do not actually require ranked websites to act like media or be bloggers. 
This website's rankings are designed to benefit each voting community, and many types of benefit are possible. 
We think ranked sites will win votes by providing such benefits as blogs, websites, 
newspapers and broadcasts giving insight on voting community issues, especially those decided by vote. 
This includes not only elections but also this website's media/blog rankings – websites/blogs could publish evaluations of each other.
</p>
<br />