- @page_title = 'UBC AMS OneTime VoterMedia Entry Form'

%h2{:style => "text-align: center"} $1,000 UBC AMS OneTime VoterMedia Contest
%h2{:style => "text-align: center"} Entry Form

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    To encourage coverage of the January 2012 Alma Mater Society elections,
    the AMS is sponsoring a $1,000 VoterMedia contest.
    Any AMS members can enter their blog (or website or other media).
    The contest will be judged by AMS members voting in the elections.
    The VoterMedia section of the ballot will enable students to vote each blog a share of
    the $1,000 pool from this menu: 0%, 10%, 20%, 30%, 40%.
  %p
    %strong Entry deadline:
    4:00 pm on Friday, January 13, 2012
  %p
    %strong Entry fee:
    $20
  %p
    %strong Submit entry at:
    SUB 238 (Print this page & fill in the blanks below.)
    
%hr

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    %strong Name of Blog
    (or website or other media):
  %p
    %strong URL
    (blog/website address): http://
  %p
    I am the Editor of this blog (or website or other media).
    I hereby apply to enter it in the 2012 AMS OneTime VoterMedia Contest.
    I agree to the contest rules in the UBC AMS Electoral Procedures linked from the
    =link_to 'AMS Elections web page', 'http://www.ams.ubc.ca/governance/ams-elections'
    (www.ams.ubc.ca/governance/ams-elections), in particular Article 14: VoterMedia.
    I am an Active Member of the AMS.
    Neither I nor any listed contributor to this media contestant is a member of AMS Council,
    a candidate in the AMS election, a member of the AMS Elections Committee, or an officer of the UBC Student Court.
    I request that any awards this entry wins be paid to me as the representative of the contestant's contributors.
    I will notify you promptly of any changes (during the contest) of the information I am submitting in this entry.
    
  %strong
    %p My contact information is:
    
    %blockquote
      %p Name:
      %p Email:
      %p Phone:
      %p Mailing address:
    
    %p Signed:

%hr
%br