- @page_title = 'UBC AMS Entry Form'

%h2{:style => "text-align: center"} Entry Form for UBC AMS Continuous VoterMedia Competition

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    To enter your blog (or website or other media) in
    = link_to("this competition", "/ubc") + ","
    please copy and paste all the text between the horizontal lines below (including Contest Rules) into an email, fill in all the blanks and send it to mark[at]votermedia.org AND TO sacvc[at]ams.ubc.ca. There is no entry fee and no entry deadline. The contest is continuous, so you can enter any time.

%hr

%div{:style => "margin-left: 10%; margin-right: 10%;"}

  %p
    %strong Name of Blog
    (or website or other media):

  %p
    %strong URL
    (blog/website address): http://

  %p
    I am the Editor of this blog (or website or other media). I hereby apply to enter it in the UBC AMS Continuous VoterMedia Competition with online ballot at
    = link_to("votermedia.org/ubc", "/ubc") + "."
    I agree to the website terms at
    = link_to("votermedia.org/terms", "/terms")
    and contest rules in the UBC AMS Code of Procedures, in particular
    = link_to("these code changes", "/ubc/CodeChanges2011VoterMedia.pdf")
    regarding VoterMedia that AMS Council adopted on January 26, 2011. I request that any awards this blog wins in this contest be paid to me as the representative of the blog's contributors. My contact information is:

  %strong
    %p
      Name:

    %p
      Email:

    %p
      Phone:
  
    %p
      Mailing address:

%hr
%br