#top-bottom-nav
  = link_to 'HOME', root_path
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  = link_to 'FAQ', faqs_path
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  = link_to 'ABOUT/CONTACT', about_contact_path
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
  = link_to 'HOW YOU CAN HELP', how_you_can_help_path
