#search
  - form_tag(search_communities_path, {:method => 'get'}) do
    %label 
      Find communities:
    %br
    = text_field_tag :q, @keywords, :maxlength => 100
    %br
    = submit_tag 'Search'
